USE [master]
GO
/****** Object:  Database [ThockChainDB]    Script Date: 10/31/2018 6:25:41 PM ******/
CREATE DATABASE [ThockChainDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ThockChainDB', FILENAME = N'D:\SQL Setup\MSSQL14.SQLEXPRESS\MSSQL\DATA\ThockChainDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ThockChainDB_log', FILENAME = N'D:\SQL Setup\MSSQL14.SQLEXPRESS\MSSQL\DATA\ThockChainDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ThockChainDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ThockChainDB]
GO
USE [ThockChainDB]
GO
/****** Object:  Table [dbo].[Block]    Script Date: 10/31/2018 6:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Block](
	[BlockHash] [nvarchar](70) NULL,
	[PreviousHash] [nvarchar](70) NULL,
	[TimeStamp] [nvarchar](50) NOT NULL,
	[Difficult] [nvarchar](50) NOT NULL,
	[MerkleRoot] [nvarchar](70) NULL,
	[Nonce] [nvarchar](50) NOT NULL,
	[id] [int] NOT NULL,
 CONSTRAINT [PK_Block] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PendingTransaction]    Script Date: 10/31/2018 6:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PendingTransaction](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fromAddress] [nvarchar](50) NULL,
	[toAddress] [nvarchar](50) NULL,
	[value] [money] NULL,
 CONSTRAINT [PK_PendingTransaction] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 10/31/2018 6:25:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FromAddress] [nvarchar](50) NULL,
	[ToAddress] [nvarchar](50) NULL,
	[Value] [money] NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionOfBlock]    Script Date: 10/31/2018 6:25:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionOfBlock](
	[blockID] [int] NOT NULL,
	[transactionID] [int] NOT NULL,
 CONSTRAINT [PK_TransactionOfBlock] PRIMARY KEY CLUSTERED 
(
	[blockID] ASC,
	[transactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Block] ([BlockHash], [PreviousHash], [TimeStamp], [Difficult], [MerkleRoot], [Nonce], [id]) VALUES (N'000000000019d6689c085ae165831e934ff763ae46a2a6c172b3f1b60a8ce26', N'0000000000000000000000000000000000000000000000000000000000000000', N'2009-01-03 18:15:05', N'1', N'4a5e1e4baab89f3a32518a88c31bc87f618f76673e2cc77ab2127b7afdeda33b', N'2083236893', 0)
SET IDENTITY_INSERT [dbo].[PendingTransaction] ON 

INSERT [dbo].[PendingTransaction] ([id], [fromAddress], [toAddress], [value]) VALUES (1, N'', N'You', 50.0000)
INSERT [dbo].[PendingTransaction] ([id], [fromAddress], [toAddress], [value]) VALUES (2, N'Luzibazz', N'Kikkoeru', 17.0000)
INSERT [dbo].[PendingTransaction] ([id], [fromAddress], [toAddress], [value]) VALUES (3, N'Nakamoto', N'Satoshi', 20.0000)
SET IDENTITY_INSERT [dbo].[PendingTransaction] OFF
SET IDENTITY_INSERT [dbo].[Transaction] ON 

INSERT [dbo].[Transaction] ([id], [FromAddress], [ToAddress], [Value]) VALUES (6, NULL, N'1A1zP1eP5QGefi2DMPTfTL5SLmv7DivfNa', 50.0000)
SET IDENTITY_INSERT [dbo].[Transaction] OFF
INSERT [dbo].[TransactionOfBlock] ([blockID], [transactionID]) VALUES (0, 6)
ALTER TABLE [dbo].[TransactionOfBlock]  WITH CHECK ADD  CONSTRAINT [FK_TransactionOfBlock_Block] FOREIGN KEY([blockID])
REFERENCES [dbo].[Block] ([id])
GO
ALTER TABLE [dbo].[TransactionOfBlock] CHECK CONSTRAINT [FK_TransactionOfBlock_Block]
GO
ALTER TABLE [dbo].[TransactionOfBlock]  WITH CHECK ADD  CONSTRAINT [FK_TransactionOfBlock_Transaction] FOREIGN KEY([transactionID])
REFERENCES [dbo].[Transaction] ([id])
GO
ALTER TABLE [dbo].[TransactionOfBlock] CHECK CONSTRAINT [FK_TransactionOfBlock_Transaction]
GO
USE [master]
GO
